﻿@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("_Navigation")

<h2>Statistics</h2>

@{ 
    foreach (var hour in Model[292]){
        <p>@hour.start_hour.Hour : @hour.start_hour.Minute</p>
    }
}