﻿label{
    font-family:Calibri;
} 

.disButton{
    background: #d6d6d6 !important;
    color: #4d4a48;
    cursor:not-allowed !important;
}
#pic1{
  width: 100%;
  height: 100%;
  float: left;
  border: 6px dotted chocolate; 
  padding-bottom: 0;
}

#pic2{
  width: 100%;
  height: 100%;
  float: right;
  border: 6px dotted chocolate;
  padding-bottom: 0;
}

#intro{
  padding: 8px; 
}

#headers{
  background-size: 800px 250px;
  background: rgba(255, 221, 153,0.99);
  border-radius: 10px;
}


/*-------custom css-------*/
img {
  display:block;
  margin:0 auto;
/*  width:50%;*/
}

.h1, h1 {
  margin-top:3em;
}

.smallerHeading {
  margin-top:0;
}

.info {
  text-align:center;
  margin-bottom:0;
  padding:0;
}

body {
  align-items:center;
}

.h2, h2 {
  text-align:center;
  font-weight: bolder;
}

.form-group.fgRight {
  display:block;
  margin-left:0;
}

form {
  display:flex;
  flex-flow:row;
  align-items:center;
  text-align:center; 
  margin:0 auto;

}

form label {
  margin-right:1em;
}

form input {
  vertical-align:middle;
  height:2em;
}

@media (max-width: 600px) {
  form {
    flex-direction:column;
    align-items:stretch;
    padding:6px;
    width:100%;
    margin:0 auto;

  }
}

@media (max-width: 600px) {
  form label {
    text-align:left;
    margin-left:0;
    height:2em;
  }
}

.table-responsive {
  height:9em;
  margin:0 auto;
  width:100%;
  margin-top:1.5em;
}

.table thead th {
  padding:0;
  margin:0;
  width:700px;
  border:none;
}

tr {
  width:60%;
 
}


.myBtn {
  width:130px;
  margin:0;
  background: #ffdd99;
  padding:7px;
  height:2.5em;
  text-align:center;
  border-radius:3px;
  cursor: pointer;
  font-size:20px;
}

th label span {
  display:block;
  overflow:hidden;
  border-radius:3px;

}

select.form-control:not([size]):not([multiple]) {
  margin-right:1.5em;
  height:2em;
}

.radioBtn {
  position:absolute;
  display: none;
}


.makeRed{
  color:black;
  background:#96df90;
  border:10px;
  transition: 0.1s all linear;
}

.makeRedBorder{
  color:black;
  background:#96df90;
  transition: 0.1s all linear;
  border-color:#96df90;
}


.table td, .table th {
  text-align:center;
  border:none;
}


form label {
  margin-left:1em;
}

.table {
 width: 60%;
	padding: 5%;
    margin: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    color: black;
    background: white;
    text-align: center;
}


#tuesday {
  background:#A8A8A8;
}

.table tr td {
  margin:0;
  padding:3px;
}

tr:nth-child(1) {
  font-weight:800;
}

.form-control {
  width:10em;
}

#timeHead{
    font-weight:unset;
}

