﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.attendedBtn {
    width: 28%;
    background: #ffdd99;
    padding: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 0rem;
    border-radius: 5px;
    border: 2px solid #ffc247;
    color:#7e291c;
}
